In [1]:
import numpy as np
import pandas as pd
import math

In [2]:
run1OC = pd.read_csv("NewYork_36071_Module6NN1stRun.csv")
run2OC = pd.read_csv("NewYork36071Module1NN2ndRun.csv")

/Users/wylyanderson/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (52,53,54,55,61,62,63,64) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
run1OC.head()

,Residence State,County Code,Tract Code,Block Code,HH ID,Person ID Number,Activity Pattern,Node 1 Type,Node 1 Predecessor,Node 1 Successor,...,Node 6 Departure Time,Node 7 Type,Node 7 Predecessor,Node 7 Successor,Node 7 Name,Node 7 County,Node 7 Lat,Node 7 Lon,Node 7 Arrival Time,Node 7 Departure Time
0,36,71,13900,2021,4668505,36011956118,2,H,N,S,...,dTime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,oTime,dTime
1,36,71,100,1017,4576906,36011691461,1,H,N,S,...,dTime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,oTime,dTime
2,36,71,100,1018,4576932,36011691571,1,H,N,S,...,dTime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,oTime,dTime
3,36,71,100,1019,4576950,36011691625,1,H,N,S,...,dTime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,oTime,dTime
4,36,71,100,1019,4576952,36011691633,1,H,N,S,...,dTime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,oTime,dTime

In [4]:
run2OC.head()

,Unnamed: 0,Residence State,County Code,Tract Code,Block Code,HH ID,HH TYPE,Latitude,Longitude,Person ID Number,Age,Sex,Traveler Type,Income Bracket,Income Amount
0,11690759,36,71,100,1000,4576658,1,41.517333,-74.012504,36011690760,66,1,6,6.0,69012.044610
1,11690760,36,71,100,1000,4576658,1,41.517333,-74.012504,36011690761,17,1,1,0.0,0.000000
2,11690761,36,71,100,1000,4576659,0,41.517333,-74.012504,36011690762,53,1,5,1.0,2409.692110
3,11690762,36,71,100,1000,4576659,0,41.517333,-74.012504,36011690763,59,0,5,1.0,6393.542108
4,11690763,36,71,100,1001,4576660,1,41.517446,-74.014654,36011690764,76,0,6,5.0,45906.476360

In [5]:
households2 =  len(run2OC['HH ID'].unique())
print('Number of unique households: ' + str(households2))

numPeople2 = len(run2OC['Person ID Number'].unique())
print('Number of unique people: ' + str(numPeople2))

Number of unique households: 126132
Number of unique people: 372813

In [6]:
allyHHID = run1OC[run1OC['HH ID']==4643185]
print(allyHHID)

        Residence State  County Code  Tract Code  Block Code    HH ID  \
56600                36           71       12200        1017  4643185
56601                36           71       12200        1017  4643185
56602                36           71       12200        1017  4643185
56603                36           71       12200        1017  4643185
314699               36           71       12200        1017  4643185

        Person ID Number  Activity Pattern Node 1 Type Node 1 Predecessor  \
56600        36011882014                 1           H                  N
56601        36011882015                 1           H                  N
56602        36011882016                 1           H                  N
56603        36011882017                 1           H                  N
314699       36011882013                 6           H                  N

       Node 1 Successor          ...          Node 6 Departure Time  \
56600                 S          ...                          dTime
56601                 S          ...                          dTime
56602                 S          ...                          dTime
56603                 S          ...                            NaN
314699                O          ...                          dTime

        Node 7 Type  Node 7 Predecessor  Node 7 Successor  Node 7 Name  \
56600           NaN                 NaN               NaN          NaN
56601           NaN                 NaN               NaN          NaN
56602           NaN                 NaN               NaN          NaN
56603           NaN                 NaN               NaN          NaN
314699          NaN                 NaN               NaN          NaN

       Node 7 County Node 7 Lat Node 7 Lon Node 7 Arrival Time  \
56600            NaN        NaN        NaN               oTime
56601            NaN        NaN        NaN               oTime
56602            NaN        NaN        NaN               oTime
56603            NaN        NaN        NaN               oTime
314699           NaN        NaN        NaN               oTime

       Node 7 Departure Time
56600                  dTime
56601                  dTime
56602                  dTime
56603                  dTime
314699                 dTime

[5 rows x 70 columns]

In [7]:
allyHHID.shape

(5, 70)

In [8]:
#Pixelization Data
n = 138.348
def Xpixel(latitude,longitude):
    if np.isnan(latitude) or np.isnan(longitude):
        return 0
    else:
        xPixel = math.floor(n*(longitude + 97.5)*math.cos(math.radians(latitude))) 
    return xPixel
  
def Ypixel(latitude,longitude):
    if np.isnan(latitude) or np.isnan(longitude):
        return 0
    else:
        yPixel = math.floor(n*(latitude - 37.0))
        return yPixel

In [9]:
def baselat(ypixel):
    lat = ypixel/n + 37
    return lat

In [10]:
def endlat(ypixel):
    lat = (ypixel+1)/n + 37
    return lat

In [31]:
def baselong(xpixel, ypixel):
    lat = endlat(ypixel)
    return (xpixel/math.cos(math.radians(lat))/n) -97.5
def endlong(xpixel, ypixel):
    lat = baselat(ypixel)
    return ((xpixel+1)/math.cos(math.radians(lat))/n) -97.5

In [32]:
baselat(610)

41.40917107583774

In [33]:
endlat(610)

41.41639922514239

In [34]:
baselong(2403,610)

-74.33859336548741

In [35]:
endlong(2403,610)

-74.33153294110518

In [36]:
hinpixel = run2OC[run2OC['Latitude']>=baselat(610)]
hinpixel = hinpixel[hinpixel['Latitude']<endlat(610)]
hinpixel = hinpixel[hinpixel['Longitude']>=baselong(2403, 610)]
hinpixel = hinpixel[hinpixel['Longitude']<endlong(2403, 610)]

In [37]:
hinpixel

,Unnamed: 0,Residence State,County Code,Tract Code,Block Code,HH ID,HH TYPE,Latitude,Longitude,Person ID Number,Age,Sex,Traveler Type,Income Bracket,Income Amount
180384,11871143,36,71,11900,1017,4639673,1,41.413046,-74.336791,36011871144,55,1,5,7.0,83913.501960
180385,11871144,36,71,11900,1017,4639674,0,41.413046,-74.336791,36011871145,98,1,0,0.0,0.000000
180386,11871145,36,71,11900,1017,4639674,0,41.413046,-74.336791,36011871146,66,0,6,3.0,20251.472350
180387,11871146,36,71,11900,1017,4639675,0,41.413046,-74.336791,36011871147,85,0,0,0.0,0.000000
180388,11871147,36,71,11900,1017,4639675,0,41.413046,-74.336791,36011871148,36,1,5,9.0,198684.605500
180389,11871148,36,71,11900,1017,4639676,0,41.413046,-74.336791,36011871149,73,1,6,5.0,35054.571140
180390,11871149,36,71,11900,1017,4639676,0,41.413046,-74.336791,36011871150,59,0,5,4.0,29910.950600
180391,11871150,36,71,11900,1017,4639676,0,41.413046,-74.336791,36011871151,55,0,5,4.0,28380.663510
180392,11871151,36,71,11900,1017,4639676,0,41.413046,-74.336791,36011871152,44,0,5,3.0,19022.321300
180393,11871152,36,71,11900,1017,4639677,0,41.413046,-74.336791,36011871153,63,1,6,7.0,94090.126730
180394,11871153,36,71,11900,1017,4639677,0,41.413046,-74.336791,36011871154,41,0,6,1.0,9516.015670
180395,11871154,36,71,11900,1017,4639677,0,41.413046,-74.336791,36011871155,38,0,5,2.0,10583.955650
180396,11871155,36,71,11900,1017,4639677,0,41.413046,-74.336791,36011871156,12,0,1,0.0,0.000000
180397,11871156,36,71,11900,1017,4639678,0,41.413046,-74.336791,36011871157,56,1,5,5.0,38556.677700
180398,11871157,36,71,11900,1017,4639678,0,41.413046,-74.336791,36011871158,17,1,1,0.0,0.000000
180399,11871158,36,71,11900,1017,4639678,0,41.413046,-74.336791,36011871159,12,0,1,0.0,0.000000
180400,11871159,36,71,11900,1017,4639678,0,41.413046,-74.336791,36011871160,15,1,1,0.0,0.000000
180401,11871160,36,71,11900,1017,4639679,0,41.413046,-74.336791,36011871161,40,1,5,8.0,143775.977900
180402,11871161,36,71,11900,1017,4639679,0,41.413046,-74.336791,36011871162,10,1,1,0.0,0.000000
180403,11871162,36,71,11900,1017,4639679,0,41.413046,-74.336791,36011871163,7,0,1,0.0,0.000000
180404,11871163,36,71,11900,1017,4639679,0,41.413046,-74.336791,36011871164,6,1,1,0.0,0.000000
180405,11871164,36,71,11900,1017,4639679,0,41.413046,-74.336791,36011871165,2,0,0,0.0,0.000000
180406,11871165,36,71,11900,1017,4639680,0,41.413046,-74.336791,36011871166,43,1,5,8.0,118897.988400
180407,11871166,36,71,11900,1017,4639680,0,41.413046,-74.336791,36011871167,3,0,0,0.0,0.000000
180408,11871167,36,71,11900,1017,4639680,0,41.413046,-74.336791,36011871168,8,1,1,0.0,0.000000
180409,11871168,36,71,11900,1017,4639680,0,41.413046,-74.336791,36011871169,0,1,0,0.0,0.000000
180410,11871169,36,71,11900,1017,4639680,0,41.413046,-74.336791,36011871170,31,1,5,6.0,73676.825160
180411,11871170,36,71,11900,1017,4639680,0,41.413046,-74.336791,36011871171,21,1,3,0.0,0.000000
181759,11872518,36,71,11900,1063,4639818,1,41.410094,-74.336783,36011872519,78,0,6,3.0,16898.585200
181760,11872519,36,71,11900,1063,4639819,0,41.410094,-74.336783,36011872520,77,1,6,6.0,58569.446130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191255,11882014,36,71,12200,1017,4643185,0,41.412214,-74.332112,36011882015,6,1,1,0.0,0.000000
191256,11882015,36,71,12200,1017,4643185,0,41.412214,-74.332112,36011882016,9,0,1,0.0,0.000000
191257,11882016,36,71,12200,1017,4643185,0,41.412214,-74.332112,36011882017,6,1,1,0.0,0.000000
191258,11882017,36,71,12200,1017,4643186,0,41.412214,-74.332112,36011882018,47,1,6,6.0,53846.555960
191259,11882018,36,71,12200,1017,4643186,0,41.412214,-74.332112,36011882019,6,0,1,0.0,0.000000
191260,11882019,36,71,12200,1017,4643186,0,41.412214,-74.332112,36011882020,9,0,1,0.0,0.000000
191261,11882020,36,71,12200,1017,4643186,0,41.412214,-74.332112,36011882021,5,0,1,0.0,0.000000
191262,11882021,36,71,12200,1017,4643186,0,41.412214,-74.332112,36011882022,5,1,1,0.0,0.000000
191263,11882022,36,71,12200,1017,4643187,0,41.412214,-74.332112,36011882023,45,1,5,6.0,67378.999670
191264,11882023,36,71,12200,1017,4643187,0,41.412214,-74.332112,36011882024,4,1,0,0.0,0.000000
191265,11882024,36,71,12200,1017,4643187,0,41.412214,-74.332112,36011882025,8,0,1,0.0,0.000000
191266,11882025,36,71,12200,1017,4643187,0,41.412214,-74.332112,36011882026,3,1,0,0.0,0.000000
191267,11882026,36,71,12200,1017,4643187,0,41.412214,-74.332112,36011882027,7,0,1,0.0,0.000000
191268,11882027,36,71,12200,1017,4643188,0,41.412214,-74.332112,36011882028,47,1,5,6.0,60183.098510
191269,11882028,36,71,12200,1017,4643188,0,41.412214,-74.332112,36011882029,6,0,1,0.0,0.000000
191270,11882029,36,71,12200,1017,4643188,0,41.412214,-74.332112,36011882030,4,1,0,0.0,0.000000
191271,11882030,36,71,12200,1017,4643188,0,41.412214,-74.332112,36011882031,36,1,5,2.0,10975.651560
191272,11882031,36,71,12200,1017,4643188,0,41.412214,-74.332112,36011882032,35,1,5,3.0,15096.381060
191273,11882032,36,71,12200,1017,4643189,0,41.412214,-74.332112,36011882033,43,1,5,3.0,18590.983670
191274,11882033,36,71,12200,1017,4643189,0,41.412214,-74.332112,36011882034,36,1,5,9.0,167921.498200
191275,11882034,36,71,12200,1017,4643190,0,41.412214,-74.332112,36011882035,41,1,5,2.0,11564.075660
191276,11882035,36,71,12200,1017,4643190,0,41.412214,-74.332112,36011882036,37,1,5,2.0,12682.765040
191277,11882036,36,71,12200,1017,4643190,0,41.412214,-74.332112,36011882037,29,1,6,2.0,11861.610710
191278,11882037,36,71,12200,1017,4643190,0,41.412214,-74.332112,36011882038,24,1,5,1.0,6976.608513
191279,11882038,36,71,12200,1017,4643190,0,41.412214,-74.332112,36011882039,21,1,3,0.0,0.000000
191280,11882039,36,71,12200,1017,4643190,0,41.412214,-74.332112,36011882040,20,1,3,0.0,0.000000
191281,11882040,36,71,12200,1017,4643190,0,41.412214,-74.332112,36011882041,18,1,1,0.0,0.000000
191282,11882041,36,71,12200,1017,4643190,0,41.412214,-74.332112,36011882042,19,1,3,0.0,0.000000
191283,11882042,36,71,12200,1017,4643190,0,41.412214,-74.332112,36011882043,25,0,5,1.0,4612.931177
191284,11882043,36,71,12200,1017,4643190,0,41.412214,-74.332112,36011882044,24,0,6,3.0,15189.115200

In [18]:
allyHHID = np.asarray(allyHHID)

In [19]:
allyHHID

array([[36, 71, 12200, 1017, 4643185, 36011882014, 1, 'H', 'N', 'S',
        'Home', 36071, 41.4122136, -74.3321119, 0, '29131.19432', 'S', 'H',
        'O', 'SCOTCHTOWN AVENUE SCHOOL', 36071.0, 41.414171, -74.323418,
        '29187.69993', '58203.18873', 'O', 'S', 'H', nan, 36071.0,
        41.400628999999995, -74.330281, '58323.43963', '64359.37662', 'H',
        'O', 'N', 'Home', 36071.0, 41.4122136, -74.3321119, '63617.33476',
        nan, nan, nan, nan, nan, nan, nan, nan, 'oTime', 'dTime', nan, nan,
        nan, nan, nan, nan, nan, 'oTime', 'dTime', nan, nan, nan, nan, nan,
        nan, nan, 'oTime', 'dTime'],
       [36, 71, 12200, 1017, 4643185, 36011882015, 1, 'H', 'N', 'S',
        'Home', 36071, 41.4122136, -74.3321119, 0, '28638.77485', 'S', 'H',
        'O', 'SCOTCHTOWN AVENUE SCHOOL', 36071.0, 41.414171, -74.323418,
        '28695.28046', '59242.29968', 'O', 'S', 'H',
        'SLEEPY HILLS ORCHARD', 36071.0, 41.365066999999996,
        -74.50639100000001, '60452.42241', '66370.46234', 'H', 'O', 'N',
        'Home', 36071.0, 41.4122136, -74.3321119, '67359.93905', nan, nan,
        nan, nan, nan, nan, nan, nan, 'oTime', 'dTime', nan, nan, nan, nan,
        nan, nan, nan, 'oTime', 'dTime', nan, nan, nan, nan, nan, nan, nan,
        'oTime', 'dTime'],
       [36, 71, 12200, 1017, 4643185, 36011882016, 1, 'H', 'N', 'S',
        'Home', 36071, 41.4122136, -74.3321119, 0, '27956.52105', 'S', 'H',
        'H', 'SCOTCHTOWN AVENUE SCHOOL', 36071.0, 41.414171, -74.323418,
        '28013.02666', '58618.05205', 'H', 'S', 'N', 'Home', 36071.0,
        41.4122136, -74.3321119, '58674.55766', nan, nan, nan, nan, nan,
        nan, nan, nan, 'oTime', 'dTime', nan, nan, nan, nan, nan, nan, nan,
        'oTime', 'dTime', nan, nan, nan, nan, nan, nan, nan, 'oTime',
        'dTime', nan, nan, nan, nan, nan, nan, nan, 'oTime', 'dTime'],
       [36, 71, 12200, 1017, 4643185, 36011882017, 1, 'H', 'N', 'S',
        'Home', 36071, 41.4122136, -74.3321119, 0, '28404.73326', 'S', 'H',
        'O', 'SCOTCHTOWN AVENUE SCHOOL', 36071.0, 41.414171, -74.323418,
        '28461.23887', '55912.01204', 'O', 'S', 'H',
        'CRIST BROTHERS ORCHARD', 36071.0, 41.551198, -74.1637,
        '57421.9932', '62946.63594', 'H', 'O', 'O', 'Home', 36071.0,
        41.4122136, -74.3321119, '64428.03197', '68657.12911', 'O', 'H',
        'H', nan, 36071.0, 41.400628999999995, -74.330281, '68834.21873',
        '74447.90663', 'H', 'O', 'N', 'Home', 36071.0, 41.4122136,
        -74.3321119, '74701.52728', nan, nan, nan, nan, nan, nan, nan, nan,
        'oTime', 'dTime'],
       [36, 71, 12200, 1017, 4643185, 36011882013, 6, 'H', 'N', 'O',
        'Home', 36071, 41.4122136, -74.3321119, 0, '38376.02157', 'O', 'H',
        'O', "WESSEL'S FARMS INC", 36071.0, 41.478803000000006, -74.518322,
        '39659.68961', '44181.59813', 'O', 'O', 'H', "WESSEL'S FARMS INC",
        36071.0, 41.478803000000006, -74.518322, '44181.59813',
        '49826.24473', 'H', 'O', 'N', 'Home', 36071.0, 41.4122136,
        -74.3321119, '51059.29867', nan, nan, nan, nan, nan, nan, nan, nan,
        'oTime', 'dTime', nan, nan, nan, nan, nan, nan, nan, 'oTime',
        'dTime', nan, nan, nan, nan, nan, nan, nan, 'oTime', 'dTime']], dtype=object)

In [20]:
run1OC_array = np.asarray(run1OC)

In [21]:
run1OC_array

array([[36, 71, 13900, ..., nan, 'oTime', 'dTime'],
       [36, 71, 100, ..., nan, 'oTime', 'dTime'],
       [36, 71, 100, ..., nan, 'oTime', 'dTime'],
       ...,
       [36, 71, 15200, ..., nan, 'oTime', 'dTime'],
       [36, 71, 15200, ..., nan, 'oTime', 'dTime'],
       [36, 71, 15200, ..., nan, 'oTime', 'dTime']], dtype=object)

In [22]:
allyHHID

array([[36, 71, 12200, 1017, 4643185, 36011882014, 1, 'H', 'N', 'S',
        'Home', 36071, 41.4122136, -74.3321119, 0, '29131.19432', 'S', 'H',
        'O', 'SCOTCHTOWN AVENUE SCHOOL', 36071.0, 41.414171, -74.323418,
        '29187.69993', '58203.18873', 'O', 'S', 'H', nan, 36071.0,
        41.400628999999995, -74.330281, '58323.43963', '64359.37662', 'H',
        'O', 'N', 'Home', 36071.0, 41.4122136, -74.3321119, '63617.33476',
        nan, nan, nan, nan, nan, nan, nan, nan, 'oTime', 'dTime', nan, nan,
        nan, nan, nan, nan, nan, 'oTime', 'dTime', nan, nan, nan, nan, nan,
        nan, nan, 'oTime', 'dTime'],
       [36, 71, 12200, 1017, 4643185, 36011882015, 1, 'H', 'N', 'S',
        'Home', 36071, 41.4122136, -74.3321119, 0, '28638.77485', 'S', 'H',
        'O', 'SCOTCHTOWN AVENUE SCHOOL', 36071.0, 41.414171, -74.323418,
        '28695.28046', '59242.29968', 'O', 'S', 'H',
        'SLEEPY HILLS ORCHARD', 36071.0, 41.365066999999996,
        -74.50639100000001, '60452.42241', '66370.46234', 'H', 'O', 'N',
        'Home', 36071.0, 41.4122136, -74.3321119, '67359.93905', nan, nan,
        nan, nan, nan, nan, nan, nan, 'oTime', 'dTime', nan, nan, nan, nan,
        nan, nan, nan, 'oTime', 'dTime', nan, nan, nan, nan, nan, nan, nan,
        'oTime', 'dTime'],
       [36, 71, 12200, 1017, 4643185, 36011882016, 1, 'H', 'N', 'S',
        'Home', 36071, 41.4122136, -74.3321119, 0, '27956.52105', 'S', 'H',
        'H', 'SCOTCHTOWN AVENUE SCHOOL', 36071.0, 41.414171, -74.323418,
        '28013.02666', '58618.05205', 'H', 'S', 'N', 'Home', 36071.0,
        41.4122136, -74.3321119, '58674.55766', nan, nan, nan, nan, nan,
        nan, nan, nan, 'oTime', 'dTime', nan, nan, nan, nan, nan, nan, nan,
        'oTime', 'dTime', nan, nan, nan, nan, nan, nan, nan, 'oTime',
        'dTime', nan, nan, nan, nan, nan, nan, nan, 'oTime', 'dTime'],
       [36, 71, 12200, 1017, 4643185, 36011882017, 1, 'H', 'N', 'S',
        'Home', 36071, 41.4122136, -74.3321119, 0, '28404.73326', 'S', 'H',
        'O', 'SCOTCHTOWN AVENUE SCHOOL', 36071.0, 41.414171, -74.323418,
        '28461.23887', '55912.01204', 'O', 'S', 'H',
        'CRIST BROTHERS ORCHARD', 36071.0, 41.551198, -74.1637,
        '57421.9932', '62946.63594', 'H', 'O', 'O', 'Home', 36071.0,
        41.4122136, -74.3321119, '64428.03197', '68657.12911', 'O', 'H',
        'H', nan, 36071.0, 41.400628999999995, -74.330281, '68834.21873',
        '74447.90663', 'H', 'O', 'N', 'Home', 36071.0, 41.4122136,
        -74.3321119, '74701.52728', nan, nan, nan, nan, nan, nan, nan, nan,
        'oTime', 'dTime'],
       [36, 71, 12200, 1017, 4643185, 36011882013, 6, 'H', 'N', 'O',
        'Home', 36071, 41.4122136, -74.3321119, 0, '38376.02157', 'O', 'H',
        'O', "WESSEL'S FARMS INC", 36071.0, 41.478803000000006, -74.518322,
        '39659.68961', '44181.59813', 'O', 'O', 'H', "WESSEL'S FARMS INC",
        36071.0, 41.478803000000006, -74.518322, '44181.59813',
        '49826.24473', 'H', 'O', 'N', 'Home', 36071.0, 41.4122136,
        -74.3321119, '51059.29867', nan, nan, nan, nan, nan, nan, nan, nan,
        'oTime', 'dTime', nan, nan, nan, nan, nan, nan, nan, 'oTime',
        'dTime', nan, nan, nan, nan, nan, nan, nan, 'oTime', 'dTime']], dtype=object)

In [23]:
def pixelization(n,a):
    xpixels =  np.zeros((n,7))
    ypixels =  np.zeros((n,7))
    oarrivals = np.zeros((n,7))
    odepartures = np.zeros((n,7))
    latlong = np.zeros((n*7,3))

    name = [[] for _ in range(n)]
    for i in range(n):
        for j in range(7):
            xpixels[i][j]= Xpixel(a[i][12+9*j],a[i][13+9*j])
            ypixels[i][j]= Ypixel(a[i][12+9*j],a[i][13+9*j])
            latlong[i*7 + j][0] = a[i][12+9*j]
            latlong[i*7 + j][1] = a[i][13+9*j]
            latlong[i*7 + j ][2] = a[i][13+9*j]*a[i][12+9*j]
            if a[i][14+9*j] != 'oTime':
                oarrivals[i][j]= (a[i][14+9*j])
            else:
                oarrivals[i][j]= 0
            if a[i][15+9*j] != 'dTime':
                odepartures[i][j]= (a[i][15+9*j])
            else:
                odepartures[i][j]= 0
            name[i] = np.append(name[i], a[i][10+9*j])
    return xpixels, ypixels, name, oarrivals, odepartures, latlong

In [24]:
pixelization(5, allyHHID)

(array([[ 2403.,  2404.,  2404.,  2403.,     0.,     0.,     0.],
        [ 2403.,  2404.,  2387.,  2403.,     0.,     0.,     0.],
        [ 2403.,  2404.,  2403.,     0.,     0.,     0.,     0.],
        [ 2403.,  2404.,  2416.,  2403.,  2404.,  2403.,     0.],
        [ 2403.,  2382.,  2382.,  2403.,     0.,     0.,     0.]]),
 array([[ 610.,  610.,  608.,  610.,    0.,    0.,    0.],
        [ 610.,  610.,  603.,  610.,    0.,    0.,    0.],
        [ 610.,  610.,  610.,    0.,    0.,    0.,    0.],
        [ 610.,  610.,  629.,  610.,  608.,  610.,    0.],
        [ 610.,  619.,  619.,  610.,    0.,    0.,    0.]]),
 [array(['Home', 'SCOTCHTOWN AVENUE SCHOOL', 'nan', 'Home', 'nan', 'nan',
         'nan'],
        dtype='<U32'),
  array(['Home', 'SCOTCHTOWN AVENUE SCHOOL', 'SLEEPY HILLS ORCHARD', 'Home',
         'nan', 'nan', 'nan'],
        dtype='<U32'),
  array(['Home', 'SCOTCHTOWN AVENUE SCHOOL', 'Home', 'nan', 'nan', 'nan',
         'nan'],
        dtype='<U32'),
  array(['Home', 'SCOTCHTOWN AVENUE SCHOOL', 'CRIST BROTHERS ORCHARD',
         'Home', 'nan', 'Home', 'nan'],
        dtype='<U32'),
  array(['Home', "WESSEL'S FARMS INC", "WESSEL'S FARMS INC", 'Home', 'nan',
         'nan', 'nan'],
        dtype='<U32')],
 array([[     0.     ,  29187.69993,  58323.43963,  63617.33476,
              0.     ,      0.     ,      0.     ],
        [     0.     ,  28695.28046,  60452.42241,  67359.93905,
              0.     ,      0.     ,      0.     ],
        [     0.     ,  28013.02666,  58674.55766,      0.     ,
              0.     ,      0.     ,      0.     ],
        [     0.     ,  28461.23887,  57421.9932 ,  64428.03197,
          68834.21873,  74701.52728,      0.     ],
        [     0.     ,  39659.68961,  44181.59813,  51059.29867,
              0.     ,      0.     ,      0.     ]]),
 array([[ 29131.19432,  58203.18873,  64359.37662,          nan,
              0.     ,      0.     ,      0.     ],
        [ 28638.77485,  59242.29968,  66370.46234,          nan,
              0.     ,      0.     ,      0.     ],
        [ 27956.52105,  58618.05205,          nan,      0.     ,
              0.     ,      0.     ,      0.     ],
        [ 28404.73326,  55912.01204,  62946.63594,  68657.12911,
          74447.90663,          nan,      0.     ],
        [ 38376.02157,  44181.59813,  49826.24473,          nan,
              0.     ,      0.     ,      0.     ]]),
 array([[   41.4122136 ,   -74.3321119 , -3078.25729534],
        [   41.414171  ,   -74.323418  , -3078.04274236],
        [   41.400629  ,   -74.330281  , -3077.32038715],
        [   41.4122136 ,   -74.3321119 , -3078.25729534],
        [           nan,            nan,            nan],
        [           nan,            nan,            nan],
        [           nan,            nan,            nan],
        [   41.4122136 ,   -74.3321119 , -3078.25729534],
        [   41.414171  ,   -74.323418  , -3078.04274236],
        [   41.365067  ,   -74.506391  , -3081.96185564],
        [   41.4122136 ,   -74.3321119 , -3078.25729534],
        [           nan,            nan,            nan],
        [           nan,            nan,            nan],
        [           nan,            nan,            nan],
        [   41.4122136 ,   -74.3321119 , -3078.25729534],
        [   41.414171  ,   -74.323418  , -3078.04274236],
        [   41.4122136 ,   -74.3321119 , -3078.25729534],
        [           nan,            nan,            nan],
        [           nan,            nan,            nan],
        [           nan,            nan,            nan],
        [           nan,            nan,            nan],
        [   41.4122136 ,   -74.3321119 , -3078.25729534],
        [   41.414171  ,   -74.323418  , -3078.04274236],
        [   41.551198  ,   -74.1637    , -3081.59058311],
        [   41.4122136 ,   -74.3321119 , -3078.25729534],
        [   41.400629  ,   -74.330281  , -3077.32038715],
        [   41.4122136 ,   -74.3321119 , -3078.25729534],
        [           nan,            nan,            nan],
        [   41.4122136 ,   -74.3321119 , -3078.25729534],
        [   41.478803  ,   -74.518322  , -3090.93079813],
        [   41.478803  ,   -74.518322  , -3090.93079813],
        [   41.4122136 ,   -74.3321119 , -3078.25729534],
        [           nan,            nan,            nan],
        [           nan,            nan,            nan],
        [           nan,            nan,            nan]]))

In [ ]:
def cartDist(n, xpixels, ypixels):
    distances = np.zeros((n,7))
    for i in range(n):
        for j in range(7):
            if xpixels[i][j+1] == 0:
                break
            else:
                distances[i][j]=math.sqrt(((xpixels[i][j+1]-xpixels[i][j])**2) + ((ypixels[i][j+1]-ypixels[i][j])**2))
            
    return distances

In [ ]:
xpixels, ypixels, names, oarrivals, odepartures, latlong = pixelization(5, allyHHID)

In [ ]:
dist = cartDist(5, xpixels, ypixels)

In [ ]:
np.sum(dist, axis=1)

In [ ]:
len(np.nonzero(dist)[0])

In [ ]:
print(dist)

In [ ]:
def tripInfo(n, distances, odepartures):
    count = 0
    tripsPP= np.zeros(n)
    tripsPH = np.zeros(24)
    for i in range(n):
        for j in range(7):
            if distances[i][j] == 0:
                count = 0
            else:
                tripsPP[i] += 1
            if np.isnan(odepartures[i][j]) or odepartures[i][j] == 0:
                count = 0
            else:
                tripsPH[math.floor(odepartures[i][j]/3600)] += 1;
                
    return tripsPP, tripsPH

In [ ]:
tripInfo(5, dist, odepartures)

In [ ]:
pixels = np.zeros((10000,3))
latlong

In [ ]:
u_pixels = np.unique(latlong, axis = 0)

In [ ]:
i = 0
while True:
    pixels[i][0] = u_pixels[i][0]
    pixels[i][1] = u_pixels[i][1]
    pixels[i][2] = np.count_nonzero(latlong == u_pixels[i][2])
    i = i + 1
    if np.isnan(u_pixels[i][0]):
        break
pixels

In [ ]:
def

In [ ]:
import csv

with open('pixels.csv', 'w') as csvFile:
    writer = csv.writer(csvFile)
    writer.writerows(pixels)

csvFile.close()